<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button text=''></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen='true'>
  <ion-grid >

    <ion-row class='ion-padding-bottom'>
      <div class='header-logo'>
      </div>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class='ion-padding-bottom'>
          <ion-item>
            <ion-text class='primary-heading' color='light'>
              {{ predicao.nomeDoArtesao }}
            </ion-text>
          </ion-item>

<!--          <ion-item>-->
<!--            <ion-text class='subtitle' color='light'>-->
<!--              VARIAÇÃO DE PREÇO: R$200 A R$400-->
<!--            </ion-text>-->
<!--          </ion-item>-->
        </div>
      </ion-col>
    </ion-row>

    <ion-row class='ion-padding-top ion-padding-bottom artensan-craftwork-content2'>
      <ion-col>
            <div class='ion-text-left artensan-slide-card-text2 ion-padding-top ion-padding-start'>
              <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
                <p>{{ predicao.descricaoDoArtesao }}
                </p>
              </ion-text>
            </div>
      </ion-col>
    </ion-row>

<!--    <ion-row class='ion-padding-top' style='height: 60px'>-->
<!--      <ion-col>-->
<!--        <div class='ion-padding-bottom'>-->
<!--          <ion-item>-->
<!--            <ion-text style='height: 100%' class='subtitle' color='light'>-->
<!--              PRODUTOS DO ARTESÃO-->
<!--            </ion-text>-->
<!--          </ion-item>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->

<!--    <ion-row class='ion-padding-top ion-padding-bottom artensan-craftwork-content2'>-->
<!--      <ion-col>-->
<!--        <div class='ion-text-left artensan-slide-card-text2 ion-padding-top ion-padding-start'>-->
<!--          <ion-text class='artensan-craftwork-content2-subtitle' color='light'>-->
<!--            <p>Silhuetas cheias de movimento e sentidos. Figuras magras, longilíneas,-->
<!--              quase vivas e repletas de estilo. Esse é o trabalho do escultor Marcos de Sertânia.-->
<!--              Com suas peças que retratam homens, mulheres e animais esqueléticos,-->
<!--              Marcos quer traduzir a dor e o sofrimento do seu povo sertanejo, castigado há tantos anos pela seca.-->
<!--              Marcos Paulo Lau da Costa, nome de batismo, também acredita que as obras compridas dão-->
<!--              leveza às suas criações feitas em madeira.-->
<!--            </p>-->

<!--            <p>Hoje em dia, o trabalho reconhecido de Marcos sustenta a sua família e ainda leva o ofício-->
<!--              para outros artesãos da região.-->
<!--            </p>-->
<!--          </ion-text>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->

  </ion-grid>
</ion-content>

<!--<ion-footer class='ion-no-border'>-->
<!--  <ion-item detail='false'  class='ion-item-button-squared' routerLink='/where-to-buy'>-->
<!--    <ion-label>-->
<!--      ONDE COMPRAR-->
<!--    </ion-label>-->
<!--    <ion-icon style='border: 1px; border-color: black' name='chevron-forward-outline' slot='end'-->
<!--              style='height: 100%'></ion-icon>-->
<!--  </ion-item>-->
<!--</ion-footer>-->
