ion-header {
  ion-toolbar {
    --ion-toolbar-background: transparent;

    // For the skip button
    ion-button {
      --color: var(--ion-color-light);
    }

    ion-back-button {
      --color: var(--ion-color-light);
    }
  }
}

ion-content {
  --background: #B2ADA4;
}

ion-header {
  --background: #B2ADA4;

  //height: 30%;
  ion-toolbar {
    height: 100%;
    --background: #B2ADA4;

  }
}

ion-list {
  background: transparent;

  ion-item {
    --background: inherit;
    --border-color: var(--ion-color-light); // default underline color
    --highlight-color-invalid: var(--ion-color-light); // invalid underline color

    ion-input {
      --color: var(--ion-color-light);
    }

    ion-label {
      --color: var(--ion-color-light);
    }
  }
}

ion-item {
  --background: transparent;
  --border-color: transparent; // default underline color
  --highlight-color-invalid: var(--ion-color-light); // invalid underline color
}

.header-logo {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3C3C39;
  //padding-top: 60px;
}

.align-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-heading {
  font-size: 25pt;
  font-weight: bold;
}

.secundary-heading {
  font-size: 24pt;
  font-weight: bold;
}

.section-header {
  font-size: 18pt;
  font-weight: bold;
}

.subtitle {
  font-size: 10pt;
}

.button-rounded-white-s {
  --border-radius: 50px;
  --background: var(--ion-color-light);
  --color: #1B1C20;
  font-size: 14pt;
  font-weight: lighter;
  height: 49px;
  width: 186px;
}

.button-rounded-white-l {
  --border-radius: 50px;
  --background: var(--ion-color-light);
  --color: #1B1C20;
  font-size: 14pt;
  font-weight: lighter;
  height: 49px;
  width: 295px;
}

.button-rounded-grey {
  --border-radius: 50px;
  --border-width: 1px;
  --border-color: #B2ADA4;
  --border-style: solid;
  --background: #3C3C39;
  --color: var(--ion-color-light);
  font-size: 14pt;
  font-weight: lighter;
  height: 49px;
  width: 295px;
}

.button-squared {
  --background: #B2ADA4;
  --color: var(--ion-color-light);
  font-size: 14pt;
  font-weight: lighter;
  height: 70px;
}

.artesan-content-vertical-align {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.artesan-button-rounded-light {
  --border-radius: 50px;
  --border-width: 1px;
  --border-color: #B2ADA4;
  --border-style: solid;
  --box-shadow: 0px 20px 50px #0000004D;
  --background: var(--ion-color-light);
  --color: #1B1C20;
  font-size: 14pt;
  font-weight: lighter;
}

