<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="skip-walkthrough-button" fill="clear">skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='align-center ion-padding-top'>
    <ion-text color="white" class='primary-heading'>
      Cachorro <br> Espreguiçando
    </ion-text>
  </div>

  <br>

  <div class='align-center'>
    <ion-text color="white" class='subtitle'>
      Artesanato e arte popular
    </ion-text>
  </div>

  <br>

  <div style='background-color: white; height: 100%'>

    <div class='ion-padding'>
      <ion-text style='color: black;'>
        Escultura inspirada no cachorro Baleia do livro de Graciliano Ramos na posição espreguiçando.
      </ion-text>
    </div>

    <div class='ion-text-center ion-padding-top'>
      <ion-button class='button-rounded-white' routerLink="/login">SOBRE O ARTESÃO</ion-button>
    </div>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
<!--  <ion-button expand='full' class='button-squared'>VEJA COMO FUNCIONA</ion-button>-->

  <ion-item class='ion-item-button-squared'>
    <ion-label>
      ONDE COMPRAR
    </ion-label>
    <ion-icon style='border: 1px; border-color: black' name="chevron-forward-outline" slot="end" style='height: 100%'></ion-icon>
  </ion-item>
</ion-footer>
