<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button text=''></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen='true'>
  <ion-grid >

    <ion-row class='ion-padding-bottom'>
      <div class='header-logo' style="background: url({{ predicao.fotoDeCapaDaObraUrl }}) no-repeat center/100%">
      </div>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class='ion-padding-bottom'>
          <ion-item>
            <ion-text class='primary-heading' color='light' id='title'>
              {{ predicao.nomeDaObra }}
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-text class='subtitle' color='light' id='preco'>
              VARIAÇÃO DE PREÇO: R$200 A R$400
            </ion-text>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class='ion-padding-top ion-padding-bottom artensan-craftwork-content2'>
      <ion-col>
            <div class='ion-text-left artensan-slide-card-text2 ion-padding-top ion-padding-start'>
              <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
                {{ predicao.descricaoDaObra }}
              </ion-text>
            </div>

            <div class='ion-text-left artensan-slide-card-text2 ion-padding-top ion-padding-start'>
              <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
                DIMENSÕES
              </ion-text>
            </div>
            <div class='ion-text-left artensan-slide-card-text2 ion-padding-start'>
              <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
                {{ predicao.dimensao }}
<!--                25 x 10 x 50cm (A x L x C)-->
              </ion-text>
            </div>

          <div class='ion-text-left artensan-slide-card-text2 ion-padding-top ion-padding-start'>
            <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
              ORIGEM
            </ion-text>
          </div>
          <div class='ion-text-left artensan-slide-card-text2 ion-padding-start'>
            <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
              {{ predicao.origem }}
            </ion-text>
          </div>

          <div class='ion-text-left artensan-slide-card-text2 ion-padding-top ion-padding-start'>
            <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
              ARTESÃO
            </ion-text>
          </div>
          <div class='ion-text-left artensan-slide-card-text2 ion-padding-start'>
            <ion-text class='artensan-craftwork-content2-subtitle' color='light'>
              {{ predicao.nomeDoArtesao }}
            </ion-text>
          </div>

        <div class='ion-text-center ion-padding-top'>
          <ion-button class='artesan-button-rounded-light' expand="block" fill="outline" size='default' id='sobre' routerLink='/craftsman' routerDirection='forward' [state]="{predicao: predicao}">SOBRE O ARTESÃO</ion-button>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer class='ion-no-border'>
  <ion-item detail='false' class='ion-item-button-squared' id='comprar' routerLink='/where-to-buy'>
    <ion-label>
      ONDE COMPRAR
    </ion-label>
    <ion-icon style='border: 1px; border-color: black' name='chevron-forward-outline' slot='end'
              style='height: 100%'></ion-icon>
  </ion-item>
</ion-footer>
